*.out
*.ll
*.s
*.o

lex.yy.c
y.tab.c
y.tab.h
compile_commands.json

.idea/
cmake-build-debug/

\#*\#
.\#*
.DS_Store

/build
/.clangd
/.cache

/.vscode

# Except for files in the special_folder directory
!/test/output/*.json
!/test/output/*.ll
!/test/output/*.s
!/folder/.exp
